/* Brand Colors */
.color-p500 { color: #FF9A63; }
.bg-p500 { background-color: #FF9A63; }
.border-p500 { border-color: #FF9A63; }

.color-p600 { color: #E3532C !important; }
.bg-p600 { background-color: #E3532C; }
.border-p600 { border-color: #E3532C; }

.color-p400 { color: #FFA87D; }
.bg-p400 { background-color: #FFA87D; }
.border-p400 { border-color: #FFA87D; }

.color-p200 { color: #FFC4A5; }
.bg-p200 { background-color: #FFC4A5; }
.border-p200 { border-color: #FFC4A5; }

.color-p50 { color: #FFF6F1; }
.bg-p50 { background-color: #FFF6F1; }
.border-p50 { border-color: #FFF6F1; }

/* Neutral Colors */
.color-n900 { color: #1C1C1E; }
.bg-n900 { background-color: #1C1C1E; }
.border-n900 { border-color: #1C1C1E; }

.color-n000 { color: #FFFFFF; }
.bg-n000 { background-color: #FFFFFF; }
.border-n000 { border-color: #FFFFFF; }


@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

.playfair-font{
  font-family: var(--font-gt-america), sans-serif;
}

.headline-font {
  color: #FF9A63;
}

.active-state{
  color: #E3532C;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 249, 250, 251;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hc-wrapper {
          perspective: 600px;
          transform: translate3d(0,0,0.1px);
          position: relative;
        }
        .hc-wrapper::before {
          content: '';
          position: absolute;
          inset: -15px;
          background: radial-gradient(circle at 50% 50%, #00c1ffff 1%, #073aff00 76%), conic-gradient(from 124deg at 50% 50%, #c137ffff 0%, #07c6ffff 40%, #07c6ffff 60%, #c137ffff 100%);
          border-radius: inherit;
          transition: all 0.6s ease;
          filter: contrast(1.5) saturate(1.5) blur(40px);
          transform: scale(0.85);
          opacity: 0.5;
        }
        .hc-wrapper.active::before {
          filter: contrast(1) saturate(1) blur(40px);
          transform: scale(0.95);
          opacity: 1;
        }
        .hc-card {
          width: 320px;
          height: 480px;
          border-radius: var(--hc-card-radius);
          position: relative;
          background: radial-gradient(farthest-side circle at var(--pointer-x) var(--pointer-y), hsla(266, 100%, 90%, var(--card-opacity, 0)) 4%, hsla(266, 0%, 60%, 0) 100%), radial-gradient(35% 52% at 55% 20%, #00ffaac4 0%, #073aff00 100%), radial-gradient(100% 100% at 50% 50%, #00c1ffff 1%, #073aff00 76%), conic-gradient(from 124deg at 50% 50%, #c137ffff 0%, #07c6ffff 40%, #07c6ffff 60%, #c137ffff 100%);
          overflow: hidden;
          transform-style: preserve-3d;
          transition: transform 1s ease;
          transform: rotateY(var(--rotate-y, 0deg)) rotateX(var(--rotate-x, 0deg));
        }
        .hc-card.active {
          transition: transform 0.1s ease;
        }
        .hc-card * {
          transform-style: preserve-3d;
        }
        .hc-inside {
          position: absolute;
          inset: 1px;
          border-radius: var(--hc-card-radius);
          background: linear-gradient(145deg, #2d2333 0%, #3a5e74 100%);
          transform: translateZ(0.1px);
          overflow: hidden;
        }
        .hc-shine {
          position: absolute;
          inset: 0;
          z-index: 3;
          background: repeating-linear-gradient(0deg, hsl(53, 100%, 69%) calc(5% * 1), hsl(93, 100%, 69%) calc(5% * 2), hsl(176, 100%, 76%) calc(5% * 3), hsl(228, 100%, 74%) calc(5% * 4), hsl(283, 100%, 73%) calc(5% * 5), hsl(2, 100%, 73%) calc(5% * 6), hsl(53, 100%, 69%) calc(5% * 7)), repeating-linear-gradient(-45deg, #0e152e 0%, hsl(180, 10%, 60%) 3.8%, hsl(180, 29%, 66%) 4.5%, hsl(180, 10%, 60%) 5.2%, #0e152e 10%, #0e152e 12%);
          background-position: 0 var(--background-y, 50%), var(--background-x, 50%) var(--background-y, 50%);
          background-size: 500% 500%, 300% 300%;
          background-blend-mode: color-dodge;
          filter: brightness(0.8) contrast(1.5) saturate(0.8);
          opacity: 0.5;
          mix-blend-mode: color-dodge;
        }
        .hc-glare {
          position: absolute;
          inset: 0;
          z-index: 4;
          background: radial-gradient(farthest-corner circle at var(--pointer-x) var(--pointer-y), hsla(0,0%,100%,0.8) 10%, hsla(0,0%,100%,0) 80%);
          mix-blend-mode: overlay;
          opacity: calc(var(--pointer-from-center, 0) * 0.7 + 0.3);
        }
        .hc-content-wrapper {
          position: relative;
          z-index: 5;
          width: 100%;
          height: 100%;
          padding: 2rem;
          color: white;
          transform: translateZ(1px);
        }

@keyframes border-follow {
  0% {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }
  25% {
    left: 100%;
    top: 0;
    transform: translate(-50%, -50%);
  }
  50% {
    left: 100%;
    top: 100%;
    transform: translate(-50%, -50%);
  }
  75% {
    left: 0;
    top: 100%;
    transform: translate(-50%, -50%);
  }
  100% {
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
  }
}

@keyframes color-change {
  0% {
    color: #1C1C1E;
  }
  25% {
    color: #E3532C;
  }
  50% {
    color: #FFA87D;
  }
  75% {
    color: #FFF6F1;
  }
  100% {
    color: #1C1C1E;
  }
}

@keyframes border-color-change {
  0% {
    border-color: #1C1C1E;
  }
  25% {
    border-color: #E3532C;
  }
  50% {
    border-color: #FFA87D;
  }
  75% {
    border-color: #FFF6F1;
  }
  100% {
    border-color: #1C1C1E;
  }
}



@layer base {
  @property --pos-x {
    syntax: '<percentage>';
    initial-value: 11.14%;
    inherits: false;
  }
  @property --pos-y {
    syntax: '<percentage>';
    initial-value: 140%;
    inherits: false;
  }
  @property --spread-x {
    syntax: '<percentage>';
    initial-value: 150%;
    inherits: false;
  }
  @property --spread-y {
    syntax: '<percentage>';
    initial-value: 180.06%;
    inherits: false;
  }
  @property --color-1 {
    syntax: '<color>';
    initial-value: #000;
    inherits: false;
  }
  @property --color-2 {
    syntax: '<color>';
    initial-value: #08012c;
    inherits: false;
  }
  @property --color-3 {
    syntax: '<color>';
    initial-value: #4e1e40;
    inherits: false;
  }
  @property --color-4 {
    syntax: '<color>';
    initial-value: #70464e;
    inherits: false;
  }
  @property --color-5 {
    syntax: '<color>';
    initial-value: #88394c;
    inherits: false;
  }
  @property --border-angle {
    syntax: '<angle>';
    initial-value: 20deg;
    inherits: true;
  }
  @property --border-color-1 {
    syntax: '<color>';
    initial-value: hsla(340, 75%, 60%, 0.2);
    inherits: true;
  }
  @property --border-color-2 {
    syntax: '<color>';
    initial-value: hsla(340, 75%, 40%, 0.75);
    inherits: true;
  }
  @property --stop-1 {
    syntax: '<percentage>';
    initial-value: 37.35%;
    inherits: false;
  }
  @property --stop-2 {
    syntax: '<percentage>';
    initial-value: 61.36%;
    inherits: false;
  }
  @property --stop-3 {
    syntax: '<percentage>';
    initial-value: 78.42%;
    inherits: false;
  }
  @property --stop-4 {
    syntax: '<percentage>';
    initial-value: 89.52%;
    inherits: false;
  }
  @property --stop-5 {
    syntax: '<percentage>';
    initial-value: 100%;
    inherits: false;
  }
}

@layer components {
  .gradient-button {
    @apply relative appearance-none cursor-pointer;
    background: radial-gradient(
      var(--spread-x) var(--spread-y) at var(--pos-x) var(--pos-y),
      var(--color-1) var(--stop-1),
      var(--color-2) var(--stop-2),
      var(--color-3) var(--stop-3),
      var(--color-4) var(--stop-4),
      var(--color-5) var(--stop-5)
    );
    transition:
      --pos-x 0.5s,
      --pos-y 0.5s,
      --spread-x 0.5s,
      --spread-y 0.5s,
      --color-1 0.5s,
      --color-2 0.5s,
      --color-3 0.5s,
      --color-4 0.5s,
      --color-5 0.5s,
      --border-angle 0.5s,
      --border-color-1 0.5s,
      --border-color-2 0.5s,
      --stop-1 0.5s,
      --stop-2 0.5s,
      --stop-3 0.5s,
      --stop-4 0.5s,
      --stop-5 0.5s;
  }
  .gradient-button::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(
      var(--border-angle),
      var(--border-color-1),
      var(--border-color-2)
    );
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
  }
  .gradient-button:hover {
    --pos-x: 0%;
    --pos-y: 91.51%;
    --spread-x: 120.24%;
    --spread-y: 103.18%;
    

    --color-1: #FFC4A5;
    --color-2: #FFA87D;
    --color-3: #FF9A63;
    --color-4: #E3532C;
    --color-5: #000;
    --border-angle: 190deg;
    --border-color-1: hsla(340, 78%, 90%, 0.1);
    --border-color-2: hsla(340, 75%, 90%, 0.6);
    --stop-1: 0%;
    --stop-2: 8.8%;
    --stop-3: 21.44%;
    --stop-4: 71.34%;
    --stop-5: 85.76%;
  }
  .gradient-button-variant {
    --color-1: #000022;
    --color-2: #1f3f6d;
    --color-3: #469396;
    --color-4: #f1ffa5;
    --border-angle: 200deg;
    --border-color-1: hsla(320, 75%, 90%, 0.6);
    --border-color-2: hsla(320, 50%, 90%, 0.15);
  }
  .gradient-button-variant:hover {
    --pos-x: 0%;
    --pos-y: 95.51%;
    --spread-x: 110.24%;
    --spread-y: 110.2%;
    --color-1: #000020;
    --color-2: #f1ffa5;
    --color-3: #469396;
    --color-4: #1f3f6d;
    --color-5: #000;
    --stop-1: 0%;
    --stop-2: 10%;
    --stop-3: 35.44%;
    --stop-4: 71.34%;
    --stop-5: 90.76%;
    --border-angle: 210deg;
    --border-color-1: hsla(320, 75%, 90%, 0.2);
    --border-color-2: hsla(320, 50%, 90%, 0.75);
  }
}
